.footer-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 480px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-div {
  width: 400px;
  height: 301px;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer-text {
  width: 100%;
  height: auto;
  align-self: flex-end;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-container4 {
  flex: 0 0 auto;
  width: 480px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-image {
  width: 366px;
  height: 359px;
  object-fit: cover;
}

